---

- name: carbon.conf
  template: src=carbon.conf dest={{app_conf}}/carbon.conf owner=www-data group=www-data

- name: storage-schemas.conf
  template: src=storage-schemas.conf dest={{app_conf}}/storage-schemas.conf owner=www-data group=www-data

- name: web.settings
  template: src=local_settings.py dest={{prefix}}/webapp/graphite/local_settings.py owner=www-data group=www-data

- name: web.fixtures.upload
  template: src={{item}} dest={{prefix}} owner=www-data group=www-data
  with_items:
    - "initial_data_admin.json"

- name: web.syncdb
  shell: python manage.py syncdb --noinput chdir={{prefix}}/webapp/graphite

- name: web.loaddata
  shell: python manage.py loaddata {{prefix}}/initial_data_admin.json chdir={{prefix}}/webapp/graphite

- name: web.fixtures.remove
  file: path={{prefix}}/initial_data_admin.json state=absent

- name: web.gunicorn
  template: src=start_graphite.sh dest={{prefix}}/webapp/start_graphite.sh mode=0751 owner=www-data group=www-data

- name: graphite.perms
  shell: chown -R www-data:www-data {{prefix}}

- name: carbon.start
  shell: cd {{prefix}} && ./bin/carbon-cache.py stop && sleep 5 && ./bin/carbon-cache.py start

